In [2]:
import pandas as pd
import matplotlib.pyplot as plt 
from sklearn import datasets

In [3]:
iris=datasets.load_iris()
X=iris.data
y=iris.target

In [4]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)
X_train.shape

(112, 4)

In [9]:
train=pd.DataFrame(X_train)
train.columns=['f1','f2','f3','f4']
#with respect to the features
train['target']=y_train
train

test=pd.DataFrame(X_test)
test.columns=['f1','f2','f3','f4']
#with respect to the features
test['target']=y_test
test

     f1   f2   f3   f4  target
0   5.8  2.8  5.1  2.4       2
1   6.0  2.2  4.0  1.0       1
2   5.5  4.2  1.4  0.2       0
3   7.3  2.9  6.3  1.8       2
4   5.0  3.4  1.5  0.2       0
5   6.3  3.3  6.0  2.5       2
6   5.0  3.5  1.3  0.3       0
7   6.7  3.1  4.7  1.5       1
8   6.8  2.8  4.8  1.4       1
9   6.1  2.8  4.0  1.3       1
10  6.1  2.6  5.6  1.4       2
11  6.4  3.2  4.5  1.5       1
12  6.1  2.8  4.7  1.2       1
13  6.5  2.8  4.6  1.5       1
14  6.1  2.9  4.7  1.4       1
15  4.9  3.6  1.4  0.1       0
16  6.0  2.9  4.5  1.5       1
17  5.5  2.6  4.4  1.2       1
18  4.8  3.0  1.4  0.3       0
19  5.4  3.9  1.3  0.4       0
20  5.6  2.8  4.9  2.0       2
21  5.6  3.0  4.5  1.5       1
22  4.8  3.4  1.9  0.2       0
23  4.4  2.9  1.4  0.2       0
24  6.2  2.8  4.8  1.8       2
25  4.6  3.6  1.0  0.2       0
26  5.1  3.8  1.9  0.4       0
27  6.2  2.9  4.3  1.3       1
28  5.0  2.3  3.3  1.0       1
29  5.0  3.4  1.6  0.4       0
30  6.4  3.1  5.5  1.8       2
31  5.4  3.0  4.5  1.5       1
32  5.2  3.5  1.5  0.2       0
33  6.1  3.0  4.9  1.8       2
34  6.4  2.8  5.6  2.2       2
35  5.2  2.7  3.9  1.4       1
36  5.7  3.8  1.7  0.3       0
37  6.0  2.7  5.1  1.6       1

In [43]:
grouped1 = train.groupby('target')
a=print (grouped.get_group(0))
print('\n')
grouped2=train.groupby('target')
print(grouped.get_group(1))
print('\n')
grouped3=train.groupby('target')
print(grouped.get_group(2))

      f1   f2   f3   f4  target
3    4.7  3.2  1.3  0.2       0
5    5.0  3.5  1.6  0.6       0
6    5.4  3.7  1.5  0.2       0
23   4.8  3.1  1.6  0.2       0
30   5.3  3.7  1.5  0.2       0
31   4.3  3.0  1.1  0.1       0
34   5.4  3.4  1.7  0.2       0
35   5.7  4.4  1.5  0.4       0
37   4.6  3.1  1.5  0.2       0
40   4.6  3.4  1.4  0.3       0
44   4.8  3.0  1.4  0.1       0
49   5.1  3.8  1.6  0.2       0
50   4.8  3.4  1.6  0.2       0
53   4.5  2.3  1.3  0.3       0
55   4.9  3.0  1.4  0.2       0
58   4.4  3.2  1.3  0.2       0
59   5.0  3.6  1.4  0.2       0
61   5.1  3.5  1.4  0.3       0
62   4.4  3.0  1.3  0.2       0
63   5.4  3.9  1.7  0.4       0
67   5.1  3.5  1.4  0.2       0
68   4.9  3.1  1.5  0.2       0
69   5.2  3.4  1.4  0.2       0
72   5.0  3.2  1.2  0.2       0
73   5.1  3.3  1.7  0.5       0
75   5.4  3.4  1.5  0.4       0
80   5.2  4.1  1.5  0.1       0
82   5.8  4.0  1.2  0.2       0
84   5.1  3.8  1.5  0.3       0
85   4.7  3.2  1.6  0.2       0
87   5.0  3.3  1.4  0.2       0
96   5.0  3.0  1.6  0.2       0
100  5.1  3.4  1.5  0.2       0
105  5.5  3.5  1.3  0.2       0
106  5.1  3.7  1.5  0.4       0
107  4.9  3.1  1.5  0.1       0
111  4.6  3.2  1.4  0.2       0


      f1   f2   f3   f4  target
0    5.9  3.0  4.2  1.5       1
1    5.8  2.6  4.0  1.2       1
7    5.0  2.0  3.5  1.0       1
12   5.6  2.5  3.9  1.1       1
14   6.3  3.3  4.7  1.6       1
15   5.5  2.4  3.8  1.1       1
20   7.0  3.2  4.7  1.4       1
22   6.0  3.4  4.5  1.6       1
25   5.6  2.7  4.2  1.3       1
26   5.6  2.9  3.6  1.3       1
27   5.5  2.5  4.0  1.3       1
28   6.1  3.0  4.6  1.4       1
33   5.7  3.0  4.2  1.2       1
36   6.9  3.1  4.9  1.5       1
39   5.1  2.5  3.0  1.1       1
41   6.2  2.2  4.5  1.5       1
43   5.7  2.9  4.2  1.3       1
64   5.5  2.3  4.0  1.3       1
70   5.7  2.8  4.5  1.3       1
71   6.6  3.0  4.4  1.4       1
74   6.4  2.9  4.3  1.3       1
77   4.9  2.4  3.3  1.0       1
79   6.7  3.1  4.4  1.4       1
89   5.7  2.8  4.1  1.3       1
90   5.8  2.7  3.9  1.2       1
91   5.7  2.6  3.5  1.0       1
94   6.3  2.5  4.9  1.5       1
95   6.7  3.0  5.0  1.7       1
97   5.5  2.4  3.7  1.0       1
101  6.6  2.9  4.6  1.3       1
102  5.6  3.0  4.1  1.3       1
103  5.9  3.2  4.8  1.8       1
104  6.3  2.3  4.4  1.3       1
109  5.8  2.7  4.1  1.0       1


      f1   f2   f3   f4  target
2    6.8  3.0  5.5  2.1       2
4    6.9  3.1  5.1  2.3       2
8    6.5  3.0  5.5  1.8       2
9    6.7  3.3  5.7  2.5       2
10   6.0  2.2  5.0  1.5       2
11   6.7  2.5  5.8  1.8       2
13   7.7  3.0  6.1  2.3       2
16   6.3  2.7  4.9  1.8       2
17   6.3  2.8  5.1  1.5       2
18   4.9  2.5  4.5  1.7       2
19   6.3  2.5  5.0  1.9       2
21   6.5  3.0  5.2  2.0       2
24   5.8  2.7  5.1  1.9       2
29   7.2  3.2  6.0  1.8       2
32   6.4  2.7  5.3  1.9       2
38   5.9  3.0  5.1  1.8       2
42   7.2  3.6  6.1  2.5       2
45   7.1  3.0  5.9  2.1       2
46   6.9  3.2  5.7  2.3       2
47   6.5  3.0  5.8  2.2       2
48   6.4  2.8  5.6  2.1       2
51   6.5  3.2  5.1  2.0       2
52   6.7  3.3  5.7  2.1       2
54   6.2  3.4  5.4  2.3       2
56   5.7  2.5  5.0  2.0       2
57   6.9  3.1  5.4  2.1       2
60   7.2  3.0  5.8  1.6       2
65   6.8  3.2  5.9  2.3       2
66   7.6  3.0  6.6  2.1       2
76   7.7  2.6  6.9  2.3       2
78   7.9  3.8  6.4  2.0       2
81   6.0  3.0  4.8  1.8       2
83   7.7  2.8  6.7  2.0       2
86   7.4  2.8  6.1  1.9       2
88   6.3  3.4  5.6  2.4       2
92   6.4  3.2  5.3  2.3       2
93   6.7  3.0  5.2  2.3       2
98   6.7  3.1  5.6  2.4       2
99   5.8  2.7  5.1  1.9       2
108  6.3  2.9  5.6  1.8       2
110  7.7  3.8  6.7  2.2       2

In [40]:
train1=train.groupby('target').size()[0]
train1
train2=train.groupby('target').size()[1]
train3=train.groupby('target').size()[2]
tot=train.groupby("target").size().sum()

In [50]:
# Priori probalibility 
P0=train1/tot
P1=train2/tot
P2=train3/tot
print(P0)
print('\n')
print(P1)
print('\n')
print(P2)
print('\n')

0.33035714285714285


0.30357142857142855


0.36607142857142855

In [22]:
tot=train.groupby("target").size().sum()
tot

112

In [47]:
grouped1.count()

        f1  f2  f3  f4
target
0       37  37  37  37
1       34  34  34  34
2       41  41  41  41

In [59]:
sts=train.groupby('target').agg(['mean','std'])
sts

              f1                  f2                  f3                  f4  \
            mean       std      mean       std      mean       std      mean
target
0       4.997297  0.354719  3.389189  0.385706  1.454054  0.142584  0.240541
1       5.917647  0.522506  2.758824  0.338551  4.191176  0.477600  1.308824
2       6.663415  0.646048  2.990244  0.342640  5.582927  0.558973  2.039024


             std
target
0       0.109188
1       0.205039
2       0.259690

In [61]:
sts.columns=['f1_mean','f1_std','f2_mean','f2_std','f3_mean','f3_std','f4_mean','f4_std']
sts

,f1_mean,f1_std,f2_mean,f2_std,f3_mean,f3_std,f4_mean,f4_std
target,,,,,,,,
0,4.997297,0.354719,3.389189,0.385706,1.454054,0.142584,0.240541,0.109188
1,5.917647,0.522506,2.758824,0.338551,4.191176,0.477600,1.308824,0.205039
2,6.663415,0.646048,2.990244,0.342640,5.582927,0.558973,2.039024,0.259690

In [ ]:
from math import sqrt,pi,exp
def p(x,mean,std):